/**
 * @name 颜色 
*/

$color-main:hsl(210, 100%, 65%);
$color-sub:hsl(210, 93%, 82%);

$color-finished:hsl(110, 97%, 36%);
$color-alert:hsl(0, 74%, 64%);
$color-edit:hsl(327, 80%, 61%);
$color-emphasis:hsl(210, 97%, 36%);

$color-font-main:hsl(0, 0%, 20%);
$color-font-sub:hsl(0, 0%, 55%);

$color-border-main:hsl(0, 0%, 83%);
$color-border-sub:hsl(0, 0%, 90%);

$color-mask:hsla(0, 0, 0, 0.7);