@import '../../style/color';

.width-adjust {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: col-resize;

    >span {
        display: inline-block;
        height: 100%;
    }

    >.blank {
        position: absolute;
        top: 0;
        width: 0.3em;

        &:first-child {
            right: 0;
        }

        &:last-child {
            left: 0;
        }
    }

    >.line {
        border-left: 2px solid $color-border-main;

        &.active {
            border-left: 3px solid $color-sub;
        }
    }
}